.principal
    
    &__identidad
        width: 100%
        display: grid
        grid-template-rows: 3fr 1fr
        align-items: end
        justify-items: center

        &__logo
            height: 125px
            width: 125px
            background-image: url(../images/logo.svg)
            background-size: cover

        &__titulo
            width: 100%
            color: $color_primario
            font-family: $fuente_primaria
            font-size: $L            
            text-align: center

    &__buscador
        height: 100%
        width: 33%
        max-height: $M
        max-width: 550px
        min-height: 32px
        min-width: 330px
        display: flex
        align-self: center

        &__input
            height: 100%
            width: 100%
            font-size: $XS
            border: 1px solid $color_oscuro_primario
            border-right: none
            border-radius: $XS 0 0 $XS
            padding-left: $XS
            padding-right: $XS
            outline: none

        &__boton
            height: 100%
            width: 8%
            max-width: $L
            min-width: $M
            display: flex
            align-items: center
            justify-content: center            
            background-color: $color_oscuro_primario
            border: 1px solid $color_oscuro_primario
            border-radius: 0 $XS $XS 0
            
            &__icono
                color: $color_claro_primario
                font-size: 100%

            &:hover
                background-color:  $color_primario
 
    &__secciones
        height: 100%
        width: 100% 
        padding-top: $XXL
        display: flex
        flex-flow: row wrap
        flex-grow: 1
        justify-content: center
        align-items: top
        gap: $XL 
        background-image: url(../images/background.svg)
        background-repeat: no-repeat
        background-size: cover
        background-position-x: center
        background-position-y: 128px
        
        
        &__articulo
            max-height: 302px
            max-width: 302px
            display: grid
            grid-template-rows: 2fr 1fr 2fr 1fr 15px
            background-image: url(../images/card.svg)
            background-repeat: no-repeat
            background-position: center
            background-size: contain
            align-items: center
            justify-items: center

            &__icono
                height: 92px
                width: 92px
                padding-top: $XS
                background-position: center
                background-size: auto
                align-self: end
            
            &__titulo
                letter-spacing: 1px
                font-size: $S
                font-family: $fuente_primaria
                align-self: center

            &__info
                height: 100%
                width: 80%
                font-size: $XS
                font-family: $fuente_secundaria
                text-align: center
                align-self: start
                hyphens: auto

            &__boton
                height: 100%
                width: 35%
                color: $color_claro_primario
                font-size: $XS
                font-family: $fuente_primaria
                background-image: url(../images/boton2.svg)
                background-repeat: no-repeat
                background-position: center
                background-size: cover
                display: flex
                justify-content: center
                align-items: center

                &:hover
                    color: $color_claro_secundario