.pie 
    height: 8vh
    width: 100vw
    background-color: $color_oscuro_primario

    &__copyright
        height: 100%
        width: 100%
        display: flex 
        align-items: center
        justify-content: center 
        color: $color_claro_primario