.pie 
    height: 48px
    width: 100%
    max-height: $XL
    min-height: $XL
    background-color: $color_oscuro_primario
    display: flex
    position: absolute
    left: 0
    bottom: 0

    &__copyright
        height: 100%
        width: 100%
        display: flex 
        align-items: center
        justify-content: center 
        color: $color_claro_primario