.encabezado
    height: 8%
    width: 100%
    max-height: $XL
    padding: $XS


    &--index
        background-color: $color_claro_primario
        display: flex
        align-items: center
        justify-content: end

    &__menu
        font-size: $M
        color: $color_oscuro_primario


        &:hover
            color: $color_primario