.encabezado
    height: 10%
    width: 100%
    min-height: $XL
    max-height: $XL
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: start
    padding: 0 $XS 0 $XS

    &--index
        background-color: $color_claro_primario
        justify-content: flex-end
    
    &--informacion
        background-color: $color_oscuro_primario

    &__menu
        align-self: center     
        display: flex
        align-items: center

        &__icono
            font-size: $M
            text-align: center
            color: $color_oscuro_primario

            &--alter
                color: $color_claro_primario
                
            &:hover
                color: $color_primario

    &__explorador
        height: 100%
        width: 100%
        display: flex
        flex-direction: row
        align-items: center

        &__logo
            height: $XL
            width: $XL
            background-image: url(../images/logo.svg)
            background-size: cover

        &__buscador
            height: 60%
            width: 40%
            max-width: 550px
            padding-left: $XS
            display: flex
            justify-content: space-between
            align-items: center

            &__input
                height: 100%
                width: 100%
                font-size: $XS
                color: $color_claro_primario
                background-color: $color_oscuro_secundario
                border: none
                border-radius: $XS 0 0 $XS
                padding-left: $XS
                padding-right: $XS
                outline: none

            &__boton
                height: 100%
                width: 8%
                max-width: $L
                min-width: $M
                display: flex
                align-items: center
                justify-content: center     
                background-color: $color_oscuro_secundario
                border-radius: 0 12px 12px 0

                &__icono
                    color: $color_claro_primario
                    font-size: 100%

                    &:hover
                        color: $color_primario

    &__nav
        height: 100%
        width: 50%
        display: flex
        flex-direction: row
        justify-content: end
        align-content: center

        &__lista
            height: 100%
            width: 100%
            display: grid
            grid-template-columns: 1fr 1fr 1fr 1fr
            color: $color_claro_primario
            list-style: none
            padding-right: $S
        
            &__item
                height: 100%
                width: 100%
                display: flex
                align-items: center
                justify-content: center

                & a
                    width: 100%
                    font-size: $XS
                    text-align: center
                    color: $color_claro_primario
                    font-family: $fuente_secundaria
                    

                &:hover
                    border-bottom: 4px solid $color_claro_secundario    

                &__active                
                    border-bottom: 4px solid $color_primario

                    & a
                        color: $color_primario
