.encabezado
    height: 8vh
    width: 100vw
    padding: $XS

    &--index
        background-color: $color_claro_primario
        display: flex
        align-items: center
        justify-content: end

    &__menu
        font-size: $L
        color: $color_oscuro_primario

    &__menu:hover
        color: $color_primario